{% extends "base.html" %}

{% block header %}

<div class="container mt-3 mb-5">
    <div class="card">
        <div class="card-body bg-gradient-primary text-white">
            <h1>Lista rodzin</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nazwa rodziny</th>
            <th scope="col">KOD RFID</th>
            <th scope="col">Liczba dzieci</th>
            <th scope="col">Działania</th>
        </tr>
    </thead>
    <tbody>
        {% for family in family_list %}
        <tr>
            <td>{{ family.name }}</td>
            <td>{{ family.rfid }}</td>
            <td>{{ family.children_count }}</td>

            <td>
                <div class="btn-group btn-group-sm gradient-buttonscd" role="group">

                    <a href="{% url 'family_edit' family.id %}" class="btn btn-secondary btn-success">Edytuj</a>

                    <a class="btn btn-secondary btn-success">Rozliczenie</a>
                </div>


            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}