{% extends "base.html" %}
{% load widget_tweaks %}


{% block header %}

<div class="container mt-3 mb-5">
    <div class="card">
        <div class="card-body bg-gradient-primary text-white">
            <h1>Edycja Rodziny</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<form method="POST">
    <div class="card p-5 shadow">
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    {% csrf_token %}
                    <div class="form-row mb-5">
                        <div class="col">
                            {{ form.name.label_tag }}
                            {{ form.name|add_class:"form-control" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5  offset-md-3">
                <div class=" card" style="width: 15rem;">
                    <div class="card-header">
                        <span class="pr-4">Numery kart</span> <i id="new_rfid" data-toggle="modal"
                            data-target="#rfid_modal" class="fa fa-plus" style="cursor: pointer;"></i>
                    </div>
                    <table class="table table-sm">
                        <tbody>
                            {% for rfid in family.rfids.all %}
                            <tr>
                                <td class="mx-5">{{ rfid }}</td>
                                <td><i class="fa fa-trash" data-rfid="{{ rfid.id }}" data-toggle="modal"
                                        data-target="#deleteConfirmRFID" style="cursor: pointer;"></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    <div class=" cart p5 shadow">
        <div class="card-body bg-gradient-secondary text-white">
            <div class="row">
                <div class="col-md-4">
                    <h3>Członkowie rodziny</h3>
                </div>
                <div class="col-md-3">
                    <buttpm type="button" class="btn btn-secondary btn-warning" id="new_person" data-toggle="modal"
                        data-target="#person_modal">
                        Dodaj
                        osobę</buttpm>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Działania</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        <h6 class="text-center">Rodzice/Opiekunowie</h6>
                    </td>
                </tr>

                {% for person in family.get_tutor %}
                <tr>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.first_name }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                            data-target="#person_modal" data-id_person="{{ person.id }}">
                            Edytuj
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary btn-danger confirm-delete"
                            data-toggle="modal" data-target="#deleteConfirm"
                            data-id_person="{{ person.id }}">Usuń</button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan=" 3">
                        <h6 class="text-center">Dzieci</h6>
                    </td>
                </tr>
                {% for person in family.get_children %}
                <tr>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.first_name }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                            data-target="#person_modal" data-id_person="{{ person.id }}">
                            Edytuj
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary btn-danger confirm-delete"
                            data-toggle="modal" data-target="#deleteConfirm"
                            data-id_person="{{ person.id }}">Usuń</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% csrf_token %}
{% endblock %}

{% block modals%}
<!-- Modal edycji osoby  -->
<div class="modal fade" id="person_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form id="modal_person_update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edycja osoby</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col">
                            <label for="last_name_ajx">Nazwisko:</label>
                            <input type="text" class="form-control" id="last_name_ajx">
                        </div>
                        <div class="col">
                            <label for="first_name_ajx">Imię:</label>
                            <input type="text" class="form-control" id="first_name_ajx">
                        </div>
                    </div>
                    <div class="form-row pt-3">
                        <div class="col-6">
                            <label for="last_name_ajx">Typ osoby</label>
                            <select class="custom-select" id="type_of_person_ajx">
                                <option value="T">Opiekun</option>
                                <option value="C">Dziecko</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type='hidden' id="id_person_ajx">
                    <input type='hidden' id="id_family_ajx">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" id="save_button">Zapisz zmiany</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal usuwania osoby  -->
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Czy usunąć osobę?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id_person">
                <div class="personName"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Potwierdź</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal usuwania rfid  -->
<div class="modal fade" id="deleteConfirmRFID" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Czy usunąć kartę?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="rfid">
                <div class="rfidNumber"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmButtonRFID">Potwierdź</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Nowy RFID  -->
<div class="modal fade" id="rfid_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edycja osoby</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col">
                        <label for="rfid_ajx">Numer karty: </label><span id="rfid_error" class="text-danger"></span>
                        <input type="text" class="form-control" id="rfid_ajx">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type='hidden' id="id_family_rfid_ajx">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary" id="save_button_rfid">Zapisz zmiany</button>
            </div>
        </div>
    </div>
</div>

<script>
    const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    //--------------- Delete confirm -------------------------
    $('#deleteConfirm').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget)
        var id_person = button.data('id_person')

        $.ajax({
            type: 'GET',
            url: '/person/' + id_person + '/delete/',
            dataType: 'json',
            success: function (data) {
                var person = JSON.parse(data)[0].fields
                $('.personName').text(person.first_name + ' ' + person.last_name)
                $('#id_person').val(id_person)

            },
            error: function () {
                $('#errors').val(`error`);
            }

        })
    })

    $('#confirmButton').on('click', function () {
        var id_person = $('#id_person').val()
        $.ajax({
            type: 'POST',
            url: '/person/' + id_person + '/delete/',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post',
            },
            success: function () {
                window.location.reload(false);
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            },
        })
    })
    //****************** Delete confirm end

    //---------------- new perosn modal in family form
    $('#new_person').on('click', function () {
        /* beautify ignore:start */
        var family_id = {{ family.id }}
        /* beautify ignore:end */
        $('#last_name_ajx').val('')
        $('#first_name_ajx').val('')
        $('#type_of_person_ajx').val('T')
        $('#id_person_ajx').val('')
        $('#id_family_ajx').val(family_id)
        $('#first_name_ajx').removeClass('is-invalid')
        $('#last_name_ajx').removeClass('is-invalid')
    })

    //-------------- Edit perosn modal
    $('#person_modal').on('show.bs.modal', function (e) {
        $('#first_name_ajx').removeClass('is-invalid')
        $('#last_name_ajx').removeClass('is-invalid')
        var button = $(e.relatedTarget)
        var id_person = button.data('id_person')
        if (id_person != null) {
            $.ajax({
                type: 'GET',
                url: '/person/' + id_person + '/json/',
                dataType: 'json',
                success: function (data) {
                    var person = JSON.parse(data)[0].fields
                    $('#last_name_ajx').val(person.last_name)
                    $('#first_name_ajx').val(person.first_name)
                    $('#type_of_person_ajx').val(person.type_of_person)
                    $('#id_person_ajx').val(id_person)
                    $('#id_family_ajx').val(person.family)

                },
                error: function () {
                    $('#errors').val(`error`);
                }

            })
        }
    })

    //--------------  Save person (New/Edit)
    $('#save_button').on('click', function (e) {
        $('#first_name_ajx').removeClass('is-invalid')
        $('#last_name_ajx').removeClass('is-invalid')
        var id_person = $('#id_person_ajx').val()
        var url = (id_person != '') ? '/person/' + id_person + '/json/' : '/person/new/json/';

        if ($('#first_name_ajx').val() && $('#last_name_ajx').val()) {
            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    first_name: $('#first_name_ajx').val(),
                    last_name: $('#last_name_ajx').val(),
                    type_of_person: $('#type_of_person_ajx').val(),
                    family: $('#id_family_ajx').val(),
                    action: 'post',
                },
                success: function () {
                    window.location.reload(false);
                },
                error: function () {
                    $('#errors').val('error');
                }
            })
        } else {
            if ($('#first_name_ajx').val() == '') {
                $('#first_name_ajx').addClass('is-invalid')
            }
            if ($('#last_name_ajx').val() == '') {
                $('#last_name_ajx').addClass('is-invalid')
            }
        }
    })


    //--------------- Delete confirm -------------------------
    $('#deleteConfirmRFID').on('show.bs.modal', function (e) {
        var button = $(e.relatedTarget)
        var rfid = button.data('rfid')

        $.ajax({
            type: 'GET',
            url: '/rfid/' + rfid + '/delete/',
            dataType: 'json',
            success: function (data) {
                var rfidData = JSON.parse(data)[0].fields
                $('.rfidNumber').text('Nr: ' + rfidData.rfid_number)
                $('#rfid').val(rfid)

            },
            error: function () {
                $('#errors').val(`error`);
            }

        })
    })

    $('#confirmButtonRFID').on('click', function () {
        var rfid = $('#rfid').val()
        $.ajax({
            type: 'POST',
            url: '/rfid/' + rfid + '/delete/',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post',
            },
            success: function () {
                window.location.reload(false);
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            },
        })
    })
    //****************** Delete confirm end

    //---------------- new rfid modal in family form
    $('#new_rfid').on('click', function () {
        /* beautify ignore:start */
        var family_id = {{ family.id }}
        /* beautify ignore:end */
        $('#rfid_error').text('')
        $('#rfid_ajx').val('')
        $('#id_family_rfid_ajx').val(family_id)
        $('#rfid_ajx').removeClass('is-invalid')
    })


    //--------------  Save RFID (New)
    $('#save_button_rfid').on('click', function (e) {
        $('#rfid_ajx').removeClass('is-invalid')
        if ($('#rfid_ajx').val()) {
            $.ajax({
                type: 'POST',
                url: '/rfid/new/',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    rfid: $('#rfid_ajx').val(),
                    family: $('#id_family_rfid_ajx').val(),
                    action: 'post',
                },
                success: function () {
                    window.location.reload(false);
                },
                error: function () {
                    $('#rfid_error').text("Podana wartość już istnieje w bazie");
                }
            })
        } else {
            if ($('#rfid_ajx').val() == '') {
                $('#first_name_ajx').addClass('is-invalid')
            }
        }
    })
</script>
{% endblock %}