{% extends "base.html" %}
{% load widget_tweaks %}


{% block header %}

<div class="container mt-3 mb-5">
    <div class="card">
        <div class="card-body bg-gradient-primary text-white">
            <h1>Edycja Rodziny</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<form method="POST">
    <div class="card p-5 shadow">
        <div class="form-group">
            {% csrf_token %}
            <div class="form-row mb-5">
                <div class="col">
                    {{ form.name.label_tag }}
                    {{ form.name|add_class:"form-control" }}
                </div>
                <div class="col">
                    {{ form.rfid.label_tag }}
                    {{ form.rfid|add_class:"form-control" }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </div>
    <div class="cart p5 shadow">
        <div class="card-body bg-gradient-secondary text-white">
            <h3>Członkowie rodziny</h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Działania</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        <h6 class="text-center">Rodzice/Opiekunowie</h6>
                    </td>
                </tr>

                {% for person in family.get_tutor %}
                <tr>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.first_name }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                            data-target="#myModal" data-id_person="{{ person.id }}">
                            Edytuj
                        </button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan=" 3">
                        <h6 class="text-center">Dzieci</h6>
                    </td>
                </tr>
                {% for person in family.get_children %}
                <tr>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.first_name }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                            data-target="#myModal" data-id_person="{{ person.id }}">
                            Edytuj
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}

{% block modals%}
<!-- Modal -->
<form id="modal_person_update">
    {% csrf_token %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edycja osoby</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col">
                            <label for="last_name_ajx">Nazwisko:</label>
                            <input type="text" class="form-control" id="last_name_ajx">
                        </div>
                        <div class="col">
                            <label for="first_name_ajx">Imię:</label>
                            <input type="text" class="form-control" id="first_name_ajx">
                        </div>
                    </div>
                    <div class="form-row pt-3">
                        <div class="col-6">
                            <label for="last_name_ajx">Typ osoby</label>
                            <select class="custom-select" id="type_of_person_ajx">
                                <option value="T">Opiekun</option>
                                <option value="C">Dziecko</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type='hidden' id="id_person_ajx">
                    <input type='hidden' id="id_family_ajx">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-primary" id="save_button">Zapisz zmiany</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

</script>
{% endblock %}