{% extends "base.html" %}
{% load widget_tweaks %}


{% block header %}

<div class="container mt-3 mb-5">
    <div class="card">
        <div class="card-body bg-gradient-primary text-white">
            <h1>Edycja Grupy</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="card p-5 shadow">
    <form method="POST">
        <div class="form-group">
            {% csrf_token %}
            <div class="form-row mb-5">
                <div class="col">
                    {{ form.name.label_tag }}
                    {{ form.name|add_class:"form-control" }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </form>
</div>

<div class="cart p5 shadow">
    <div class="card-body bg-gradient-secondary text-white">
        <div class="row">
            <div class="col-md-4">
                <h3>Dzieci w grupie</h3>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nazwisko</th>
                <th scope="col">Imie</th>
            </tr>
        </thead>
        <tbody>
            {% for child in group.children.all %}
            <tr>
                <td>{{ child.last_name }}</td>
                <td>{{ child.first_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}