{% extends "base.html" %}
{% load widget_tweaks %}


{% block header %}

<div class="container mt-3 mb-5">
    <div class="card">
        <div class="card-body bg-gradient-primary text-white">
            <h1>Edycja Grupy</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="card p-5 shadow">
    <form method="POST">
        <div class="form-group">
            {% csrf_token %}
            <div class="form-row mb-5">
                <div class="col">
                    {{ form.name.label_tag }}
                    {{ form.name|add_class:"form-control" }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </form>
</div>
{% endblock %}